.about {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  color: #fff;
}

.aboutme-container {
  text-align: center;
  font-size: 150%;
  line-height: 1.7em;
  color: #aeaeae;
  max-width: 80%;
  border-radius: 2em;
  padding: 2em;
  background-color: var(--primary-color);

}

.aboutme-img {
  border-radius: 50%;
}

.aboutme-title {
  font-size: 3rem;
  color: #fff;
}
