.about {
  display: flex;
  justify-content: center;
  background-color: var(--primary-color);
  color: #fff;
  padding: 10% 0;
}

.aboutme-container {
  text-align: left;
  font-size: 150%;
  line-height: 125%;
  color: #aeaeae;
  min-width: 10%;
  max-width: 50%;
} 

.aboutme-img {
 border-radius: 50%;
 padding: 2%;
}

.aboutme-title {
  font-size: 210%;
  color: #fff;
}



