

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}




/* CONTACT ME */

.contact-me {
  text-align: center;
  padding: 1%;
  background-color: rgb(6, 6, 6);
  color: #fff;
}

.contact-container {
  display: flex;
  justify-content: center;
  gap: 2rem;
}



.linkedin-icon {
  color: rgb(0, 157, 255);
}


