header {
  display: flex;
  text-align: center;
  border: none;
  color: #ffff;
  background-image: linear-gradient(88deg, rgb(0, 0, 0), rgb(53, 79, 123));
  padding: 5%;
}

.header-container {
  flex: 1;
  align-items: flex-start;
}

.header-img-container {
  flex: 1;
}

.header-img {
  max-width: 100%;
}

.header-name {
  color: rgb(9, 251, 251);
}

.header {
  font-size: 400%;
}

.header-title {
  color: #ffff;
  opacity: 80%;
}

