.project {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  margin: 10rem auto;
  color: #fff;
}
.project-title {
  font-size: 3rem ;
}

.project-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: center; 
  text-align: center;
  width: 70%;
  border-radius: 2rem;
  padding: 3rem;
  background-color: var(--primary-color);
  gap: 2rem;
}



.pong-game-img,
.weather-app-img {
  max-width: 100%;
}
